[data-theme="agent-central"] {
  --color-primary-50: #FFF3F7;
  --color-primary-100: #FFEFF4;
  --color-primary-200: #FFDEE9;
  --color-primary-300: #FFD3E2;
  --color-primary-400: #FFB7CD;
  --color-primary-500: #FF7DA6;
  --color-primary-600: #FF5F92;
  --color-primary-700: #F44E82;
  --color-primary-800: #D84775;
  --color-primary-900: #AD395E;
  --color-primary-950: #6E233B;
  --color-secondary-50: #F2F8FF;
  --color-secondary-100: #EDF6FF;
  --color-secondary-200: #E0EFFF;
  --color-secondary-300: #D4E9FF;
  --color-secondary-400: #B7DAFF;
  --color-secondary-500: #83BEFC;
  --color-secondary-600: #4888CD;
  --color-secondary-700: #3F78B4;
  --color-secondary-800: #2F5D90;
  --color-secondary-900: #234773;
  --color-secondary-950: #1B3356;
  --color-teal-50: #F5FFFE;
  --color-teal-100: #E7FFFD;
  --color-teal-200: #D1FCF9;
  --color-teal-300: #C1F8F4;
  --color-teal-400: #9FF0E9;
  --color-teal-500: #6CE1D8;
  --color-teal-600: #3CDDCA;
  --color-teal-700: #34C7B5;
  --color-teal-800: #2A9D8F;
  --color-teal-900: #1E6F65;
  --color-teal-950: #144942;
  --color-accent-red: #ED3A2A;
  --color-accent-orange: #F18334;
  --color-accent-yellow: #FCDC42;
  --color-accent-green: #6AE147;
  --color-accent-indigo: #3143E5;
  --color-accent-purple: #6D34CF;
  --color-accent-magenta: #E036D4;
  --color-accent-brown: #7E5E4A;
  --color-accent-neutralLight: #F0F4F8;
  --color-accent-neutralDark: #0A1527;
  --color-neutral-50: #FFFFFF;
  --color-neutral-100: #F9F9F9;
  --color-neutral-200: #EBEBEB;
  --color-neutral-300: #D9D9D9;
  --color-neutral-400: #BCBCBC;
  --color-neutral-500: #A0A0A0;
  --color-neutral-600: #858585;
  --color-neutral-700: #6D6D6D;
  --color-neutral-800: #4F4F4F;
  --color-neutral-900: #383838;
  --color-neutral-950: #262626;
  --color-warning-50: #FFF8EA;
  --color-warning-100: #FFF3DB;
  --color-warning-200: #FFEA82;
  --color-warning-300: #FFD480;
  --color-warning-400: #FFC146;
  --color-warning-500: #FFAB00;
  --color-warning-600: #E29700;
  --color-warning-700: #B87D02;
  --color-warning-800: #9B6A08;
  --color-warning-900: #7C560B;
  --color-warning-950: #483000;
  --color-error-50: #FEF1F1;
  --color-error-100: #FCDEDE;
  --color-error-200: #FAC9C9;
  --color-error-300: #F79C9C;
  --color-error-400: #F26363;
  --color-error-500: #EF3434;
  --color-error-600: #EC1B1B;
  --color-error-700: #EC1010;
  --color-error-800: #A5000D;
  --color-error-900: #920C0C;
  --color-error-950: #470606;
}
